@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* Fonts */
:root {
  --heading-font: "Roboto";
  --paragraph-font: Roboto, Helvetica, sans-serif;
}

/* Colors */
:root {
  --primary-color: #4e4ea2;
  --secondary-color: #0087d0;
  --headline-color-on-white: black;
  --headline-color-on-color: #FFFFFF;
  --paragraph-color-on-white: #4e4ea2;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #4e4ea2;
  --nav-link-color: #2e95de;
  --nav-background-color: #707fab;
}

body {
  margin: 10%;
  padding: 0; 

}

.container {
  max-width: 600px;
  margin: 0 auto; 
}

p {
  color: rgb(86, 86, 86);
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  text-align: right;
}

nav a {
  text-align: center;
  color: #4e4ea2;
  text-decoration: none;
  padding: 10px;  
  font-size: 20px
}
header {
  background-color: #ffffff9b;
  padding: 20px; 

} 

 h2 {
  text-align: center; 
  font-size: 24px 
   
} 
 
.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-grid img {
  max-width: 100%;
}

.header-grid nav {
  text-align: right;
}

.header-grid a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

@media (max-width: 700px) {
  .header-grid {
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
  }

  .header-grid nav {
    
    text-align: center;
  }


  .header-grid a {
    display: block;
    margin: 10px 0;
  }
}


/* Hero Section Styles */
.hero {
  position: relative;
  margin-top: 1rem;
}

.hero img {
  width: 100%;
  height: auto; 
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  position: absolute;
  top: 30px;
  left: 300px;
  color: #fff8f8;
  text-align: center; 
  font-size: 80px
}

.hero article {
  position: absolute;
  bottom: 30px;
  left: 20px;
  border: 1px solid #000000;
  padding: 30px;
  
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(220, 220, 223, 0.8);
  
}

.hero article img {
  width: 200px;
  height: auto;
  float: right;
}

@media (max-width: 767px) {
  .hero h1 {
    font-size: 25px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    width: 80%;
    z-index: 1;
  }

  .hero article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 1px solid #000000;
    padding: 1px;
    background-color: rgba(220, 220, 223, 0.8);
  }
  .hero article img {
    width: 50px;
    height: auto;
    float: right; 
  } 
  .hero article p {
    margin-top: 5px;
    font-size: 12px;
  }
}
.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 

}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.text-left,
.text-right {
  flex-basis: 100%;
  text-align: left; 
  font-size: 18px
}

.image-container {
  flex-basis: 100%;
  text-align: center;
  margin: 10px;
}

.centered-image {
  max-width: 100%;
}

.adventures-section {
  margin-top: 30px;
}

.adventures-grid {
  display: flex;
  justify-content: space-between;
}

.adventures-grid figure {
  flex: 1 0 10%;
  margin: 0;
  text-align: center;
}

.adventures-grid img {
  width: 70%;
  height: auto;
  border-radius: 5px;
 
  
}

.adventures-grid figcaption {
  margin-top: 10px;
} 
 
footer {
  background-color: #4e4ea4;
  color: #ffffff;
  padding: 10px 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

footer a {
  color: #fffefe;
  text-decoration: rgb(52, 162, 205);
}

footer p {
  font-size: 1.2em; 
  color: #ffffff;
}

footer a:hover {
  color: #ffffff;
}
 
.sociallinks {
  display: flex;
  justify-content: flex-end; 
  background-color: transparent;  
  
}

.sociallinks img {
  width: 20px;
 margin-left: 5px;
} 
 
#company-information{
  margin: 20px 0; 
  max-width: auto; 
  text-align: center;
}

.address p, .phone p, .email p{
  margin-bottom: 10px; 
  text-align: center;
}

#employees {
  margin: 40px auto;
  max-width: 800px;
  text-align: center; 

}

.employee {
  display: inline-block;
  text-align: center;
  margin-right: 20px; 
 
}

.employee img {
  width: 200px;
  height:190px;
  margin-bottom: 1px;   
  border: 2px solid #4e4ea2;
}

.employee .name {
  font-weight: bold;
  margin-bottom: 2px;
}

.employee .title {
  font-style: italic; 
  margin-top: 2px; 
  
}
#contact-form {
  margin: 20px auto;
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4e4ea2;
  color: white;
  border: none;
  cursor: pointer;  
  
  
}

button[type="submit"]:hover {
  background-color: #b2b6b2;
}

   

/* Call to action styles */
#call-to-action {
  text-align: center;
  margin-bottom: 30px;
}

#call-to-action h2 {
  font-size: 24px;
}

#call-to-action p {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e4ea2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666;
}
 

 

/* Trip section styles */
section {
  margin-bottom: 40px;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #4e4ea2;
 
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 5%;  
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

section p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}

section a {
  color: #4e4ea2;
  text-decoration: none;
  font-weight: bold;
}

section a:hover {
  text-decoration: underline;
}
 

 
 
/* Trip table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #4e4ea2;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

td {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) td {
  background-color: #e6e6e6;
}

tr:hover td {
  background-color: #4e4ea2;
  color: #ffffff;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 600px) {
  th, td {
    padding: 2px;
    font-size: 14px;
  }
  
  th {
    font-size: 16px;
  }
  
  td {
    font-size: 14px;
  }
}




/* Style for the hero image */
.head-image {
  width: 100%;
  height: auto;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 10px;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-image p {
  font-size: 18px;
  margin: 50px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%); 
  border: 2px solid #4e4ea2;
  padding: 5px;
  
  color: #ffffff;
  width: 80%;
  max-width: 500px; 
  text-align: center;
}

.hero-image h1 {
  font-size: 90px;
  margin-bottom: 20px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .hero-image p {
    font-size: 6px;
    margin: 30px;
    width: 30%;
    max-width: none;
  }
  
  .hero-image h1 {
    font-size: 25px;
    margin-bottom: 4px;
    top: 1px;
  }
}
/* Style for the newsletter section */
.newsletter {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletter h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.newsletter label {
  display: block;
  margin-bottom: 5px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
}

.newsletter button {
  padding: 10px 40px;
  background-color: #4e4ea2;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style for the call-to-action section */
.call-to-action {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.call-to-action h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.call-to-action p {
  font-size: 18px;
  margin-bottom: 20px;
}

.call-to-action .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e4ea2;
  color: #fff;
  text-decoration: none;
}

/* Style for the grid layout */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4e4ea2;
  text-align: center;
}

.grid-item p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.grid-item a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4e4ea2;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.grid-item a:hover {
  background-color: #b2b6b2;
}
 